---
import "../layout/MainLayout.astro";
import MainLayout from "../layout/MainLayout.astro";
import { Icon } from 'astro-icon/components'
const title = "Alexander"
---
<MainLayout title= "Alexander" 
seotitle="Alex, Web Developer and Game developer" 
seodesc="Experienced in unity c#, javascript, html, css,Twilindcss"
>
<div class="w-8-md:w-6/12 mx-auto">
	<h1 class="text-5xl md:text-6xl text-center">Hello there 👋, I Alexander</h1>
</div>
<div id="typed-strings">
	<p>I am a <strong>Software Engineer and Game Developer</strong></p>
	<p>I <em>work</em> with Astro, React, NextJS, node.</p>
  </div>

  <div class="text-center mt-6"><span id="typed"></span></div>
</div>

<div>
</MainLayout>

<script>
import Typed from "typed.js";

var typed = new Typed("#typed", {
  stringsElement: "#typed-strings",
  typeSpeed: 50,
  loop: true,
});
</script>
