---
import MainLayout from "../layout/MainLayout.astro";
---
<MainLayout title="Alexander, Project" 
seotitle="Alex, Web Developer and Game developer" 
seodesc="Experienced in unity c#, javascript, html, css,Twilindcss"
>
<div class="w-8-md:w-6/12 mx-auto">
   <h1 class="text-6xl my-2">Projects</h1> 
</div>
<div class="grid md:grid-cols-2 gap-4">
    <a href="/projects/escape" target="_blank">
      <img class="rounded" src="/alex-porto/public/images/EscapeFromAlex.png" alt="Escape From Alex" #width="300" height="300">
    </a>
    <a href="/projects/flora" target="_blank">
      <img class="rounded" src="/alex-porto/public/images/file.png" alt="Flora Quest" width="300" height="300">
    </a>
    <a href="/projects/jumpbox" target="_blank">
      <img class="rounded" src="/alex-porto/public/images/JumpBox.png" alt="Jump Box" width="300" height="300">
    </a>
  </div>
  

</MainLayout

